body {
	direction: rtl;
	unicode-bidi: embed;
}
#header.navbar .brand {
	float: right;
}
#header.navbar-fixed-top .nav-collapse.pull-right, #header .responsive-menu.pull-right {
	float: left;
}
.fix-portfolio .thumbs li {
	float: right;
}
ul.items.thumbs {
	float: left;
}
div.load-more {
	clear: both;
}
.dropdown-menu {
	left: auto;
	right: 0;
}
[class*="span"] {
	float: right;
}
.lp20 {
	padding-right: 20px;
}
.aq-template-wrapper .aq-first {
	margin-right:  0;
}
[class*=aq_span] {
	margin-left: 0; margin-right: 3%;
}
.pull-left {
	float: right;
}
.pull-right {
	float: left;
}
.dropdown-submenu > .dropdown-menu {
	left: auto; right: 100%;
}
.nav-tabs > li {
	float: right;
}
.nav-tabs > li > a {
	margin-right: 0;
	margin-left: 6px;
}
.progress.plain .bar, #comments .user {
	float: right;
}
table.shop_table, table tr {
	text-align: right;
}
#comments .arrow-box {
	margin-left: 0;
	margin-right: 20px;
}
.blog.no-sidebar #comments .meta {
	text-align: right;
}
.about-author .author-image {
	float: right;
	margin-right: 0;
	margin-left: 20px;
}